/* Start variable */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
}

/* End variable */

/* Start global rules */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */

/* Start header section */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header .container {
    display: flex;
    align-items: center;
    min-height: 97px;
    position: relative;
}

.header .container::after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.header .container .logo img {
    height: 40px;
}

.header .container .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .container .nav .toggle-menu {
    font-size: 22px;
    color: white;
    display: none;
}

@media (max-width: 767px) {
    .header .container .nav .toggle-menu {
        display: block;
    }
}

.header .container .nav ul {
    list-style-type: none;
    display: flex;
}

.header .container .nav .toggle-menu:hover+ul {
    display: flex;
}

@media (max-width: 767px) {
    .header .container .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(0 0 0 / 50%);
    }
}

.header .container .nav ul li {
    position: relative
}

.header .container .nav ul li::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -19px;
    left: 0;
    background-color: var(--main-color);
    display: none;
}

.header .container .nav ul li a {
    display: block;
    font-size: 14px;
    padding: 40px 10px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: .3s;
    z-index: 2;
}

@media (max-width: 767px) {
    .header .container .nav ul li a {
        padding: 15px;
    }
}

.header .container .nav ul li:first-of-type a,
.header .container .nav ul li:hover a {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header .container .nav .search {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

.header .container .nav .search i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* End header section */

/* Start landing section */
.landing {
    min-height: 100vh;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing i {
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .landing i {
        display: none;
    }
}

.landing i:nth-of-type(1) {
    left: 30px;
}

.landing i:nth-of-type(2) {
    right: 30px;
}

.landing .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.landing .bullets div {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets div:nth-child(2) {
    background-color: var(--main-color);
}

/* End landing section */