/* Start variable */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --paragraph-line-height: 2;
    --section-padding: 100px;
    --paragrpah-color: #777;
    --transition-duration: .3s;
}

/* End variable */

/* Start global rules */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End global rules */

/* Start components */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.main-heading {
    text-align: center;
}

.main-heading h2::before {
    content: "";
    width: 120px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
}

.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translateX(-50%);
}

.main-heading p {
    width: 550px;
    max-width: 100%;
    line-height: var(--paragraph-line-height);
    margin: 0 auto 100px;
    color: var(--paragrpah-color);
}

/* End components */

/* Start header section */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header .container {
    display: flex;
    align-items: center;
    min-height: 97px;
    position: relative;
}

.header .container::after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.header .container .logo img {
    height: 40px;
}

.header .container .nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .container .nav .toggle-menu {
    font-size: 22px;
    color: white;
    display: none;
}

@media (max-width: 767px) {
    .header .container .nav .toggle-menu {
        display: block;
    }
}

.header .container .nav ul {
    display: flex;
}

.header .container .nav .toggle-menu:hover+ul {
    display: flex;
}

@media (max-width: 767px) {
    .header .container .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(0 0 0 / 50%);
    }
}

.header .container .nav ul li {
    position: relative
}

.header .container .nav ul li::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -19px;
    left: 0;
    background-color: var(--main-color);
    display: none;
}

.header .container .nav ul li a {
    display: block;
    font-size: 14px;
    padding: 40px 10px;
    text-decoration: none;
    color: white;
    position: relative;
    transition: var(--transition-duration);
    z-index: 2;
}

@media (max-width: 767px) {
    .header .container .nav ul li a {
        padding: 15px;
    }
}

.header .container .nav ul li:first-of-type a,
.header .container .nav ul li:hover a {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header .container .nav .search {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

.header .container .nav .search i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

/* End header section */

/* Start landing section */
.landing {
    min-height: 100vh;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    position: relative;
}

.landing .text {
    width: 50%;
    color: white;
    position: absolute;
    top: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}

.landing .text .content {
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .text .content {
        max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: var(--paragraph-line-height);
}

.landing i {
    color: #ddd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .landing i {
        display: none;
    }
}

.landing i:nth-of-type(1) {
    left: 30px;
}

.landing i:nth-of-type(2) {
    right: 30px;
}

.landing .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

.landing .bullets div {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets div:nth-child(2) {
    background-color: var(--main-color);
}

/* End landing section */

/* Start services section */
.services {
    padding: var(--section-padding) 0;
}

.services .container .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px 40px;
}

@media (max-width:767px) {
    .services .container .services-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.services .container .service {
    display: flex;
}

@media (max-width: 767px) {
    .services .container .service {
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
}

.services .container .service i {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .services .container .service i {
        margin: 0 0 30px;
    }
}

.services .container .service .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.services .container .service .text p {
    color: var(--paragrpah-color);
    line-height: var(--paragraph-line-height);
}

/* End services section */

/* Start design section */
.design {
    height: 600px;
    padding: var(--section-padding) 0;
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design .image {
    text-align: center;
    flex: 1;
}

@media (max-width: 767px) {
    .design .image {
        display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
    position: relative;
    flex: 1;
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

.design .text ul li {
    padding: 15px 0;
}

/* End design section */

/* Start portfolio section */
.portfolio {
    padding: var(--section-padding) 0;
}

.portfolio .container ul {
    display: flex;
    justify-content: center;
}

.portfolio .container ul li {
    padding: 10px;
    text-transform: capitalize;
}

.portfolio .container ul li:first-of-type {
    background-color: var(--main-color);
    color: white;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    margin-top: 60px;
}

.portfolio .portfolio-content .box {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-content .box .image img {
    max-width: 100%;
    transition: var(--transition-duration);
}

.portfolio .portfolio-content .box:hover .image img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .portfolio-content .box .caption {
    width: 100%;
    padding: 20px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: var(--transition-duration);
}

.portfolio .portfolio-content .box:hover .caption {
    transform: translateY(0);
}

.portfolio .portfolio-content .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .portfolio-content .box .caption p {
    color: var(--main-color);
}

.portfolio a {
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin: 30px auto;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--main-color);
}

/* End portfolio section */