/* Start variables */
:root {
	--main-color: #19c8fa;
	--transparent-color: rgb(15 116 143 / 70%);
	--paragraph-color: #777;
	--paragraph-line-height: 1.9;
	--section-padding: 100px;
	--main-duration: .3s;
}
/* End variables */

/* Start global rules */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
}

ul {
	list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-heading {
	text-align: center;
}

.main-heading h2::before {
	content: "";
	background-color: #333;
	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 2px;
}

.main-heading h2 {
	position: relative;
	font-size: 40px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 70px;
}

.main-heading h2::after {
	content: "";
	background-color: #fff;
	position: absolute;
	bottom: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 14px;
	height: 14px;
	border: 2px solid #333;
	border-radius: 50%;
}

.main-heading p {
	color: var(--paragraph-color);
	width: 550px;
	max-width: 100%;
	margin: 0 auto 100px;
	line-height: var(--paragraph-line-height);
}

/* End global rules */

/* Start header */
header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

header .container {
	height: 97px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

header .container::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 15px;
	background-color: #a2a2a2;
	width: calc(100% - 30px);
	height: 1px;
}

header .container img {
	height: 40px; 
}

header .container nav {
	display: flex;
	align-items: center;
}

header .container nav>i {
	font-size: 22px;
	color: #fff;
	display: none;
	cursor: pointer;
}

@media (max-width: 767px) {
	header .container nav>i {
		display: block;
	}
}

header .container nav ul {
	display: flex;
}

@media (max-width: 767px) {
	header .container nav ul {
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		transform: translateX(15px);
		background-color: rgb(0 0 0 / 50%);
		width: calc(100% - 30px);
		display: none;
	}
}

header .container nav ul li a {
	display: block;
	padding: 40px 10px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: .3s;
}
 
header .container nav ul li a.active,
header .container nav ul li a:hover {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}

@media (max-width: 767px) {
	header .container nav ul li a {
		padding: 15px;
	}
}

header .container nav .search {
	width: 40px;
	height: 30px;
	margin-left: 30px;
	border-left: 1px solid #fff;
	position: relative;
}

header .container nav .search i {
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
/* End header */

/* Start landing */
.landing {
	background-image: url('../images/landing.jpg');
	background-size: cover;
	height: 100vh;
	position: relative;
}

.landing .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 60%);
}

.landing i {
	color: #ddd;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@media (max-width: 767px) {
	.landing i {
		display: none;
	}
}

.landing i:first-of-type {
	left: 30px;
}

.landing i:last-of-type {
	right: 30px;
}

.landing .text {
	color: #fff;
	background-color: var(--transparent-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
	padding: 50px;
}

@media (max-width: 767px) {
	.landing .text {
		width: 100%;
	}
}

.landing .text h2 {
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 20px;
}

.landing .text p {
	font-size: 14px;
	line-height: var(--paragraph-line-height);
}

.landing .bullets {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}

.landing .bullets div {
	width: 20px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-right: 10px;
}

.landing .bullets div:nth-of-type(2) {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
/* End landing */

/* Start service */
.services {
	padding: var(--section-padding) 0;
}

@media (min-width: 768px) {
	.services .container .services-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	gap: 60px 40px;
	}
}

.services .container .services-container .service {
	display: flex;
}

@media (max-width: 767px) {
	.services .container .services-container .service {
		text-align: center;
		flex-direction: column;
		margin-bottom: 40px;
	}
}

.services .container .services-container .service i {
	margin-right: 50px;
}

@media (max-width: 767px) {
	.services .container .services-container .service i {
		margin: 0 0 30px;
	}
}

.services .container .services-container .service .text h3 {
	margin-bottom: 30px;
	color: var(--main-color);
}

.services .container .services-container .service .text p {
	color: var(--paragraph-color);
	line-height: var(--paragraph-line-height);
}
/* End service */

/* Start design */
.design::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 60%);
}

.design {
	background-image: url('../images/design-features.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	padding: var(--section-padding) 0;
	height: 600px;
	align-items: center;
	overflow: hidden;
}

.design .image {
	text-align: center;
}

@media (max-width: 767px) {
	.design .image {
		display: none;
	}
}

.design .image img {
	position: relative;
	bottom: -150px;
}

.design .text {
	color: #fff;
	padding: 50px;
	background-color: var(--transparent-color);
}

.design .image,
.design .text {
	flex: 1;
	position: relative;
}

.design .text h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.design .text ul li::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f108";
	margin-right: 20px;
}

.design .text ul li {
	padding: 15px 0;
}
/* End design */

/* Start portfolio */
.portfolio {
	padding: var(--section-padding) 0;
}

.portfolio ul {
	display: flex;
	justify-content: center;
}

.portfolio ul li {
	padding: 10px;
}

.portfolio ul li:first-of-type {
	color: #fff;
	background-color: var(--main-color);
}

.portfolio .gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin-top: 60px;
}

.portfolio .gallery .box {
	position: relative;
	overflow: hidden;
}

.portfolio .gallery .box img {
	max-width: 100%;
	transition: var(--main-duration);
}

.portfolio .gallery .box:hover img {
	transform: scale(1.1) rotate(3deg);
}

.portfolio .gallery .box .caption {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	transform: translateY(100%);
	padding: 20px;
	width: 100%;
	transition: var(--main-duration);
}

.portfolio .gallery .box:hover .caption {
	transform: translateY(0);
}

.portfolio .gallery .box .caption h4 {
	font-weight: normal;
	margin-bottom: 10px;
}

.portfolio .gallery .box .caption p {
	color: var(--main-color);
}

.portfolio a {
	color: #fff;
	background-color: var(--main-color);
	display: block;
	width: fit-content;
	padding: 15px 20px;
	margin: 30px auto;
	text-decoration: none;
	text-transform: uppercase;
}
/* End portfolio */

/* Start video */
.video::before {
	content: "";
	background-color: rgb(0 0 0 / 40%); 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video {
	position: relative;
}

.video video {
	max-width: 100%;
}

.video .text {
	color: #fff;
	background-color: var(--transparent-color);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 50px;
	text-align: center;
}

@media (max-width: 767px) {
	.video .text {
		padding: 20px;
	}
}

.video .text h2 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 30px;
}

@media (max-width: 767px) {
	.video .text h2 {
		font-size: 18px;
		margin-bottom: 20px;
	}
}

.video .text p {
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	.video .text p {
		margin-bottom: 20px;
	}
}


.video .text button {
	color: #fff;
	background-color: #000;
	padding: 10px 20px;
	border: none;
	text-transform: uppercase;
}
/* End video */

/* Start about */
.about {
	padding-top: var(--section-padding);
	overflow: hidden;
	text-align: center;
}

.about .container img {
	max-width: 100%;
	position: relative;
	bottom: -120px;
	margin-top: -120px;
}

@media (max-width: 767px) {
	.about .container img {
		bottom: -60px;
		margin-top: -60px;
	}
}
/* End about */

/* Start stats */
.stats::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 70%);
}

.stats {
	background-image: url('../images/stats.png');
	background-size: cover;
	position: relative;
	padding: var(--section-padding) 0;
	text-align: center;
}

.stats .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.stats .container .stat {
	color: #fff;
	background-color: var(--transparent-color);
	padding: 50px;
}

@media (max-width: 767px) {
	.stats .container .stat {
		flex-basis: 100%;
	}
}

@media (min-width: 768px) {
	.stats .container .stat {
		flex-basis: 50%;
	}
}

@media (min-width: 992px) {
	.stats .container .stat {
		flex-basis: 25%;
	}
}

.stats .container .stat i {
	background-color: #000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
}

.stats .container .stat p:first-of-type {
	font-size: 50px;
	font-weight: bold;
	margin: 0 0 20px;
}

.stats .container .stat p:last-of-type {
	font-size: 14px;
}
/* End stats */

/* Start skills */
.our-skills {
	padding: var(--section-padding) 0;
}

.our-skills .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	.our-skills .container>div {
		flex-basis: 45%;
	}
}

.our-skills .container h3 {
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 30px;
}

.our-skills .container div h3+p {
	color: var(--paragraph-color);
	line-height: var(--paragraph-line-height);
	text-align: center;
	margin-bottom: 60px;
}

.our-skills .container .testimonials .member {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	.our-skills .container .testimonials .member {
		text-align: center;
		flex-direction: column;
	}
}

.our-skills .container .testimonials .member img {
	width: 100px;
	margin-right: 50px;
	border-radius: 50%;
}

@media (max-width: 767px) {
	.our-skills .container .testimonials .member img {
		margin: 0 0 20px;
	}
}

.our-skills .container .testimonials .member .text {
	line-height: var(--paragraph-line-height);
	border-bottom: 1px solid #ccc;
}

.our-skills .container .testimonials .member .text p {
	color: var(--paragraph-color);
	font-size: 14px;
	text-align: right;
	margin-bottom: 10px;
}

.our-skills .container .testimonials .bullets {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

.our-skills .container .testimonials .bullets div {
	width: 14px;
	height: 14px;
	border: 1px solid #aaa;
	border-radius: 50%;
	margin-right: 10px;
}

.our-skills .container .testimonials .bullets div:nth-of-type(2) {
	background-color: var(--main-color);
	border-color: var(--main-color);
}

.our-skills .container .skills .skill {
	margin-bottom: 40px;
}

.our-skills .container .skills .skill h4 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.our-skills .container .skills .skill .progress-bar {
	width: 100%;
	height: 30px;
	background-color: #dedadc;
	position: relative;
}

.our-skills .container .skills .skill .progress-bar .progress::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -80%);
	border-width: 8px;
	border-style: solid;
	border-color: #000 transparent transparent;
}

.our-skills .container .skills .skill .progress-bar .progress {
	background-color: var(--main-color);
	position: absolute;
	height: 100%;
}

.our-skills .container .skills .skill .progress-bar .progress::after {
	content: attr(data-progress);
	color: #fff;
	background-color: #000;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, calc(-100% - 10px));
	width: 40px;
	padding: 4px 0;
	text-align: center;
	border-radius: 4px;
}
/* End skills */

/* Start quote */
.quote::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0 0 0 / 75%);
}

.quote {
	background-image: url('../images/quote.jpg');
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: var(--section-padding) 0;
	position: relative;
}

.quote .container {
	position: relative;
}

.quote .container q {
	font-size: 30px;
	margin-bottom: 20px;
	display: block;
}
/* End quote */

/* Start pricing */
.pricing {
	padding: var(--section-padding) 0;
}

.pricing .container .plans {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
}

.pricing .container .plans .plan {
	background-color: #fcfcfc;
	text-align: center;
}

.pricing .container .plans .plan .head {
	padding: 40px 20px;
	border-top: 1px solid var(--main-color);
	border-bottom: 1px solid var(--main-color);
}

.pricing .container .plans .plan .head h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.pricing .container .plans .plan .head .price::before {
	content: "$";
	font-size: 25px;
	font-weight: normal;
	position: relative;
	top: -40px;
	margin-right: 15px;
}

.pricing .container .plans .plan .head .price {
	font-size: 60px;
	font-weight: bold;
}

.pricing .container .plans .plan .head .price::after {
	content: "/Mo";
	font-size: 20px;
	position: relative;
	right: -15px;
}

.pricing .container .plans .plan ul {
	border-bottom: 1px solid var(--main-color);
}

.pricing .container .plans .plan ul li {
	padding: 20px;
	position: relative;
}

.pricing .container .plans .plan ul li:not(:last-child)::after {
	content: "";
	background-color: var(--main-color);
	width: 140px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.pricing .container .plans .plan button {
	border: 1px solid var(--main-color);
	padding: 20px;
	margin: 30px auto;
	cursor: pointer;
}

.pricing .container .special {
	font-size: 20px;
	text-align: center;
	margin: 50px auto 20px;
}

.pricing .container .special button {
	color: #fff;
	background-color: var(--main-color);
	display: block;
	width: fit-content;
	padding: 15px 30px;
	margin: 20px auto;
	cursor: pointer;
	border: none;
}
/* End pricing */

/* Start subscribe */
.subscribe::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
}

.subscribe {
	padding: var(--section-padding) 0;
	background-image: url('../images/subscribe.jpg');
	background-size: cover;
	position: relative;
}

.subscribe .container {
	display: flex;
	align-items: center;
	position: relative;
}

@media (max-width: 991px) {
	.subscribe .container {
		flex-direction: column;
	}
}

.subscribe .container form {
	display: flex;
	position: relative;
	width: 500px;
	max-width: 100%;
	border: 1px solid #fff;
}

.subscribe .container form i {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 25px;
	transform: translateY(-50%);
}

.subscribe .container form input[type="email"] {
	color: #fff;
	width: calc(100% - 130px);
	padding: 20px 20px 20px 60px;
	outline: none;
	border: none;
	background-color: transparent;
	caret-color: var(--main-color);
}

.subscribe .container form input[type="email"]::placeholder {
	color: #fff;
}

.subscribe .container form input[type="submit"] {
	width: 130px;
	padding: 10px 20px;
	color: #fff;
	background-color: var(--main-color);
	text-transform: uppercase;
	border: none;
}

.subscribe .container p {
	color: #fff;
	line-height: var(--paragraph-line-height);
	margin-left: 50px;
}

@media (max-width: 991px) {
	.subscribe .container p {
		margin: 30px 0 0;
	}
}
/* End subscribe */

/* Start contact */
.contact {
	padding: var(--section-padding) 0;
}

.contact .container .contact-details {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 767px) {
	.contact .container .contact-details {
		flex-direction: column;
	}
}

.contact .container .contact-details form {
	flex-basis: 70%;
}

.contact .container .contact-details form input:not(:last-of-type),
.contact .container .contact-details form textarea {
	display: block;
	width: 100%;
	padding: 20px;
	margin-bottom: 30px;
	border: 1px solid #ccc;
	caret-color: var(--main-color);
	outline: none;
}

.contact .container .contact-details form textarea {
	height: 200px;
	resize: none;
}

.contact .container .contact-details form input:last-of-type {
	color: #fff;
	background-color: var(--main-color);
	text-transform: uppercase;
	display: block;
	padding: 20px;
	margin-left: auto;
	cursor: pointer;
	border: none;
}

.contact .container .contact-details .address {
	flex-basis: 25%
}

@media (max-width: 767px) {
	.contact .container .contact-details .address {
		order: -1;
		text-align: center;
	}
}

.contact .container .contact-details .address h4 {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.contact .container .contact-details .address h4:last-of-type {
	margin-top: 90px;
}

@media (max-width: 767px) {
	.contact .container .contact-details .address h4:last-of-type {
		margin-top: 30px;
	}
}

.contact .container .contact-details .address .phone {
	color: #777;
	display: block;
	margin-bottom: 10px;
}

.contact .container .contact-details .address address {
	color: #777;
	line-height: var(--paragraph-line-height);
}

@media (max-width: 767px) {
	.contact .container .contact-details .address address {
		margin-bottom: 40px;
	}
}
/* End contact */